<div class="container"
fxLayout="row"
fxLayout.lt-md="column"
fxLayoutAlign="space-around center"
    fxLayoutGap="10px">

<mat-card>
    <mat-card-header>
        <mat-card-title>Master of Engineering</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>
                Department of Computing and Software<br>
                McMaster University, ON, Canada
            </p>
            <p>
                2018-2019
            </p>
        </div>
        <img height="500px" src="/assets/imgs/mcmaster_grad.png">
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Honours Bachelor of Science</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>
                Department of Computer Science<br>
                University of Toronto, ON, Canada
            </p>
            <p>
                2014-2018
            </p>
        </div>
        <img height="500px" src="/assets/imgs/uoft_grad.jpg">
    </mat-card-content>
</mat-card>


</div>