<mat-toolbar color="primary" style="position: relative">
    <div fxShow="true" fxHide.gt-xs="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a mat-button class="companyName" routerLink="/">
            <span>Welcome to Shuo's Personal Website</span>
          </a>
      </div>
      <div fxShow="true" fxHide.lt-sm="true">
    <a mat-button routerLink='/about' routerLinkActive="active"><span class="fas fa-info"></span> About</a>
    <a mat-button routerLink="/skills" routerLinkActive="active"><span class="fas fa-cubes"></span> Skills</a>
    <a mat-button routerLink="/education" routerLinkActive="active"><span class="fas fa-graduation-cap"></span> Education</a>
    <a mat-button routerLink="/projects" routerLinkActive="active"><span class="fas fa-project-diagram"></span> Projects</a>
    <a mat-button routerLink="/life" routerLinkActive="active"><span class="fas fa-child"></span> Life</a>        
        </div>   
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-xs="true">
        <div fxLayout="column">
        <a mat-button routerLink='/about' routerLinkActive="active" (click)="sidenav.toggle()"><span class="fas fa-info"></span> About</a>
        <a mat-button routerLink="/skills" routerLinkActive="active" (click)="sidenav.toggle()"><span class="fas fa-cubes"></span> Skills</a>
        <a mat-button routerLink="/education" routerLinkActive="active" (click)="sidenav.toggle()"><span class="fas fa-graduation-cap"></span> Education</a>
        <a mat-button routerLink="/projects" routerLinkActive="active" (click)="sidenav.toggle()"><span class="fas fa-project-diagram"></span> Projects</a>
        <a mat-button routerLink="/life" routerLinkActive="active" (click)="sidenav.toggle()"><span class="fas fa-child"></span> Life</a>        
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
