<div class="container"
    fxLayout="row"
    fxLayoutGap="10px">

    <mat-card fxFlex>
        <mat-card-header>
            <mat-card-title>Shuo Hou</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/profile.jpg" alt="Shuo Hou">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
    </mat-card >
    <mat-card fxFlex>
        <div>
            <h3>About Me</h3>
            <hr>
            <h3>I'm Web Designer</h3>
            <hr>
            <p>descript here</p>
        </div>
    </mat-card >
</div>