.social-icon li {
	display: inline-block;
}
.social-icon li a {
	color: #333333;
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	float: left;
	text-align: center;
	font-size: 30px;
	line-height: 48px;
	margin-right: 8px;
}
.social-icon li a:hover {
	background: #512DA8;
	color: #fff;
	border: 1px solid #333333;
}