<div class="container"
fxLayout="row"
fxLayout.xs="column"
fxLayoutAlign="center"
    fxLayoutGap="10px">

    <mat-card fxFlex='230px' fxFlex.xs='auto'>
        <mat-card-header>
            <mat-card-title>PROFESSIONAL DETAILS</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/imgs/profile.jpg" alt="Shuo Hou">
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="40">
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Name</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Shuo Hou</p></mat-grid-tile>
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Location</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Toronto, ON</p></mat-grid-tile>                
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Degree</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Master of Engineering</p></mat-grid-tile>
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Phone</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">(647) 678-2688</p></mat-grid-tile>
            </mat-grid-list>
            <hr>
            <mat-card-header>
                <mat-card-title>ATTACHMENTS</mat-card-title>
            </mat-card-header>

              <a mat-button href="./assets/Shuo Hou Resume.pdf" download>
                <i class="fas fa-download"></i>
                Shuo Hou Resume.pdf
                <i class="fas fa-file-pdf"></i>

              </a>

        </mat-card-content>
    </mat-card >
    <mat-card fxFlex='600px' fxFlex.xs='auto'>
            <h3>About Me</h3>
            <hr>
            <mat-grid-list cols="4" rowHeight="40">
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Name</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Shuo Hou</p></mat-grid-tile>
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Location</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Toronto, ON</p></mat-grid-tile>                
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Degree</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">Master of Engineering</p></mat-grid-tile>
                <mat-grid-tile><b fxFlex fxLayoutAlign="start center">Phone</b></mat-grid-tile>
                <mat-grid-tile><p fxFlex fxLayoutAlign="start center">(647) 678-2688</p></mat-grid-tile>
            </mat-grid-list>
            <br>
            <h3>I'm a software developer</h3>
            <hr>
            <p>
                I recently graduated from McMaster University with Master of Engineering in Computing and Software. My study was Classification of Breast Cancer Tumours Using Deep Learning. Previously completed Honours Bachelor of Science at University of Toronto, Computer Science Specialist program. Focus in Computer Vision. I am now looking for a software developer position in the area of Computer Vision, Machine Learning, Data Science and Analytics, or backend software development.                 <br>
            </p>
              <br>
            <h3>Social Profiles</h3>
            <hr>
            <div class="social-icon bor-btm padding-25">
                <ul>
                  <li> <a href="https://www.linkedin.com/in/shuo-hou/"> <i class="fa fa-linkedin"></i></a> </li>
                  <li> <a href="https://join.skype.com/invite/sWRoGi6YQmAc"> <i class="fa fa-skype"></i></a> </li>
                </ul>
              </div>

            <br>
            <h3>Contact Me</h3>
            <hr>
            <div class="form-size">
              <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" #fform="ngForm">
                <p>
                  <mat-form-field class="half-width">
                    <input matInput formControlName="email" placeholder="Email" type="text" required>
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="full-width">
                    <input matInput formControlName="subject" placeholder="Subject" type="text" required>
                    <mat-error *ngIf="formErrors.subject">{{formErrors.subject}}</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="message" placeholder="Message" rows=8></textarea>
                  </mat-form-field>
                  </p>
                <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="feedbackForm.invalid">Submit</button>
              </form>
            </div>
    </mat-card >
</div>