<h1>
    Under Construction...
</h1>
<div class="container"
fxLayout="column"
fxLayoutAlign="space-around center"
    fxLayoutGap="10px">

<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Skiing and Snowboarding</mat-card-title>
        <mat-card-subtitle>...and almost a CSIA Level 1 ski instructor (program suspended due to COVID-19)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="./assets/imgs/ski.jpg">
        <img src="./assets/imgs/snowboard.jpg">
    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Gulu</mat-card-title>
        <mat-card-subtitle>British short hair × American short hair</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="./assets/imgs/gulu1.png">
        <img src="./assets/imgs/gulu2.png">
    </mat-card-content>
</mat-card>

</div>