<div class="container"
fxLayout="column"
fxLayoutAlign="space-around center"
    fxLayoutGap="10px">


<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Robo-Career Advisor</mat-card-title>
        <mat-card-subtitle>05/2020</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Scraped professional profile data from public sources by building a crawler in Python
        </p>
        <p>
            ●	Designed database schema and built logical/physical data model for storing and efficient querying structured professional profile data on Cloud SQL
        </p>
        <p>
            ●	Implemented a front end to acquire user input and present visualization of industry statistics and optimal career path
        </p>

    </mat-card-content>
</mat-card>

<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Canada Federal Election Twitter Sentiment Analysis</mat-card-title>
        <mat-card-subtitle>11/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Trained a sentiment model using 200,000 tweets from Twitter, pre-processed the tweets using regex and nltk
        </p>
        <p>
            ●	Extracted election related live tweets and Twitter using Twitter API, applied the sentiment model on entities (Names, Party, Region) mentioned in the tweets and analyzed the sentiment by entity, visualized the results of the sentiment on an interactive map built with JavaScript and Node.js
        </p>

    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Breast Cancer Tumor Image Classification with Deep Learning</mat-card-title>
        <mat-card-subtitle>08/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Collected clinical Ultrasound (US) images and on Photoacoustic tomography (PAT) images, performed data augmentation on the image data to increase the training set by 5X
        </p>
        <p>
            ●	Applied different filters, such as Gaussian filter, Non-Local mean noise reduction to reduce the noise in the data
        </p>
        <p>
            ●	Trained a shallow CNN, VGG, and ResNet using GPU cluster on Compute Canada and tested the performance of the architecture via k-fold cross-validation
        </p>
    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Face Detection and Gender Classification</mat-card-title>
        <mat-card-subtitle>05/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Developed a machine learning model to detect faces in images and videos and classify the gender        </p>
        <p>
            ●	Detected new face patches every 10 frames using Eigen Feature detector and tracked the feature points overtime        </p>
        <p>
            ●	Trained the gender classifier with a CNN model on the Face94 dataset, applied the classified on the detected face patches        </p>
    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Evaluating Robustness of Lane Detection Models</mat-card-title>
        <mat-card-subtitle>04/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Collected image frames from public data sources and self-recorded driving data, calibrated the image with OpenCV to correct data quality issue such as camera’s inherent distortion         </p>
        <p>
            ●	Applied the traditional computer vision-based technique and deep learning-based technique; evaluated the performance of the techniques under different scenarios and summarized the pros and cons for each technique        </p>
    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Urban Sound Clip Classification with RNN and CNN</mat-card-title>
        <mat-card-subtitle>01/2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Analyzed 8000+ urban sound clips in .wav format from 10 classes (AC, Car Horn, Drilling, etc.)        </p>
        <p>
            ●	Built a CNN model using Keras to classify the sound clips, achieving an accuracy of 95%        </p>
        <p>
            ●	Developed a front-end interface using flask, HTML and JavaScript for users to submit a .wav file and classify the sound        </p>
    </mat-card-content>
</mat-card>
<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Flight Booking Android App</mat-card-title>
        <mat-card-subtitle>11/2018</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Extracted, transformed and loaded flight info in a PostgreSQL Database and connects to the client user interface via a JDBC connector
        </p>
        <p>
            ●	Designed an Android App using Android Studio for users to search for flights, pick most optimal flight path
        </p>
    </mat-card-content>
</mat-card>
</div>