<div class="container"
fxLayout="column"
fxLayoutAlign="space-around center"
    fxLayoutGap="10px">

<mat-card fxFlex class="card">
    <mat-card-header>
        <mat-card-title>Summary of Qualification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            ●	Hands-on experience in computer vision tools (<b>OpenCV</b>, MATLAB Computer Vision Toolbox), machine learning and deep learning frameworks (<b>Scikit-learn, Keras, Tensorflow</b>)
        </p>
        <p>
            ●	Solid computer science background, proficient with programming in <b>Python, C, Java, SQL and MATLAB</b>
        </p>
        <p>
            ●	Familiar with front-end technologies such as <b>HTML, JavaScript, Node.JS, Bootstrap, Angular</b>
        </p>
        <p>
            ●	Proficient with version control tools such as <b>Git</b>, SVN
        </p>
        <p>
            ●	Good understanding of project management and<b> software development lifecycle </b>(SDLC)
        </p>
        <p>
            ●	Excellent communicator, able to explain complicated technical ideas in simple language
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Certifications</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
                <b>Front-End JavaScript Frameworks: Angular</b>
                <br>
                Coursera
                <a href="http://coursera.org/verify/49ZF79A7FGGP"  target="_blank">See credential</a>
        </p>
        <p>
            <b>Front-End Web UI Frameworks and Tools: Bootstrap 4</b>
            <br>
            Coursera
            <a href="http://coursera.org/verify/TL6MP8GMRWUF"  target="_blank">See credential</a>
    </p>
    <p>
        <b>Multiplatform Mobile App Development with Web Technologies: Ionic and Cordova</b>
        <br>
        Coursera
        <a href="http://coursera.org/verify/QNBG6SF9YEQF"  target="_blank">See credential</a>
</p>
<p>
    <b>Server-side Development with NodeJS, Express and MongoDB</b>
    <br>
    Coursera
    <a href="http://coursera.org/verify/FG6284F2DRGV"  target="_blank">See credential</a>
</p>
    </mat-card-content>
</mat-card>
</div>